.viminfo
linux-hardkernel/
.java/**
Arduino/**
src/**
lmms/**
package-query/**
powerpanel*/**
vm/**
*~
.bash_history
.cache/**
.cups/**
.dbus/**
.designer/**
downloads/**
.esd_auth
.fehbg
.forth-history.txt
.gimp*/**
.gnome/**
.gnome2/**
.gnome2_private/**
.gnupg/**
.googleearth
.hplip/**
.icons/**
.keychain/**
.lesshst
.local/**
.minecraft/**
.mozilla/**
.mplayer/**
.nv/**
odroid-testing/**
.oracle_jre_usage/**
.pki/**
.ssh/**
.subversion/**
.thumbnails/**
.wget-hsts
.wine/**
.Xauthority
.Xilinx/**
.xinstall/**
.xprofile
.xsession-err*
projs/
.bzr.log
kirst.tar.gz
.config/**
x-tools8.tar.xz
.xsession*
.arduino15
ipy/**
.python_history
.jupyter/**
.jssc/**
.ipython/**
.ipynb_checkpoints/**
.digilent_dvctbl.txt
tools/**
